.header {
    font-family: $font-bold;
    border-bottom: 1px solid #ddd;
    z-index: 99999;

    .logo {
        > img {
            width: 160px;
            height: 74px;
        }
    }

    .navLinks {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        .nav-link {
            font-size: 1.2rem;
    
            &:hover {
                color: $blue;
            }
    
            &.active {
                color: $blue;
            }
        }
    
        .dropdown-item {
            font-size: 1.2rem;
            font-family: $font-family-base;
    
            &:hover {
                background: silver;
            }
    
            &.active {
                color: $blue;
            }
        }
    }

    .quoteBtn {
        padding: 0.6rem 1rem;
        border: 2px solid #3184a5;
    }

    &.active {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        transform: translateY(0);
        animation: animate 0.4s ease forwards;
    }

    @keyframes animate {
        from {
            transform: translateY(-10rem);
        }
        
        to {
            transform: translateY(0);
        }
    }
}

@media screen and (max-width: '992px') {
    .header {
        .navLinks {
            padding-left: 1.6rem;
            position: relative;
            left: 0;
            transform: translateX(0);
        }

        .quoteBtn {
            position: absolute;
            right: 5.6rem;
            top: 0.92rem;
        }
    }
}