#serviceCards {
    .card {
        position: relative;
        height: 24rem;
        width: calc(90% / 3);
        min-width: 22rem;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 4px 4px 15px gray;
        border: none !important;
    
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(35, 35, 35, 0.4);
            pointer-events: none;
            z-index: 99;
        }
    
        > img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 0.8s ease;
        }
    
        &:hover > img {
            transform: scale(1.2);
        }
    
        .cardTextContent {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            z-index: 999;
        }
    
        .cardTextContent > p {
            padding: 0 0.6rem;
            color: #fff;
            font-size: 2.6rem;
            letter-spacing: 1px;
            font-family: $font-bold;
            text-align: center;
            text-transform: capitalize;
            text-shadow: 2px 2px 4px #444;
        }
    }
}

.serviceDetailsCard {
    position: relative;
    width: 100%;
}


/* construction */
.construction-content {
    display: flex;
}


/* interior */
.interior-content {
    display: flex;
    flex-direction: row-reverse;
}

.serviceDetailsCardImg {
    height: 600px;
    width: 660px;
    box-shadow: 4px 4px 15px gray;
}

.serviceDetailsCardImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.serviceDetailsCardText {
    height: 420px;
    width: 680px;
    box-shadow: 4px 4px 15px silver;
}


/* construnction */
.construction-text {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-90%, -50%);
    background: #eee;
    border-radius: 0.2rem;
}


/* interior */
.interior-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    background: #eee;
    border-radius: 0.2rem;
}

.serviceDetailsCardText h2 {
    color: #444;
    font-size: 2.7rem;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 2rem 2rem 0 2rem;
    font-family: $font-bold;
}

.serviceDetailsCardText h2::first-letter {
    color: $blue;
    font-size: 3.2rem;
    font-weight: 600;
}

.serviceDetailsCardText p {
    color: #444;
    font-size: 1.1rem;
    padding: 2rem 2rem 0 2rem;
}

.learnMoreBtn {
    padding: 0.6rem 1rem;
    border: 2px solid $blue;
    text-decoration: none;
    font-family: $font-bold;

    &:hover {
        color: $blue;
    }
}
